form {
  top: 10px;
}

h1 {
  color: #79baf7;
}

ul {
  list-style: none;
  color: #79baf7;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

p {
  font-size: 20px;
  color: #79baf7;
}

.picture {
  position: relative;
  top: 10px;
  left: 500px;
  display: inline;
}

.degrees {
  font-size: 10px;
  color: #79baf7;
}
.app {
  border: 1px solid;
  border-radius: 8px;
  padding: 20px;
  margin: 15px auto;
  max-width: 550px;
}
